.contacts {
    padding: 50px 0 90px;
    h2 {
        text-align: center;
        text-transform: uppercase;
    }
    &__intro {
        text-align: center;
        max-width: 520px;
        margin: $mc;
        margin-bottom: 40px;
    }
}
.contacts__form {
    @include flex(center, center);
    input,
    textarea {
        width: calc(33.333% - 16px);
        margin: 0 8px 16px;
        height: 60px;
        border-radius: 5px;
        background: $gray;
        border: 1px solid transparent;;
        padding: 0 20px;
        font-size: 14px;
        outline: none;
        color: $color;
        &::placeholder {
            color: $gray-opacity;
        }
        &:focus {
            border: 1px solid $yellow;
        }
    }
    textarea {
        width: 100%;
        height: 120px;
        padding: 20px;
        resize: none;
    }
}
.contacts__data-submit {
    @include flex(space-between, center);
    padding: 0 8px; 
    width: 100%;
    button {
        width: 50%;
        max-width: 580px;
        background: $yellow;
        text-transform: uppercase;
        height: 60px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: $white;
        font-weight: 700;
        font-size: 12px;
        transition: .3s;
        &:hover {
            background: darken($yellow, 10%)
        }
    }
}
.contacts__data {
    @include flex(flex-start, center);
}
.contacts__data-item {
    @include flex(flex-start, center);
    font-weight: 700;
    font-size: 12px;
    color: $gray-opacity;
    margin-right: 20px;
    a {
        color: $gray-opacity;  
    }
    svg {
        width: 14px;
        height: 16px;
        margin-right: 5px;
    }
}
.map {
    width: 100%;
    height: 475px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
footer {
    text-align: center;
    background: $color;
    color: $white-opacity;
    padding: 10px;
    font-size: 12px;
}