.events {
    background: url(../img/bg-events.jpg) center/cover no-repeat;
    padding: 45px 0;
    h6 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5em;
        color: $white;
        font-size: 12px;
        font-weight: 700;
    }
}
.events__container {
    @include flex(space-between, center);
    margin: 45px auto;
}
.left__event {
    position: relative;
    .circle {
        left: 0;
        transform: translate(-40%, -50%);
    }
    img {
        @include img;
    }
    .event__title {
        right: 0;
    }
}
.right__event {
    position: relative;
    .circle {
        right: 0;
        transform: translate(40%, -50%);
    }
    img {
        @include img;
    }
    .event__title {
        left: 0;
        transform: scale(-1);
    }
}
.event__title {
    background: $color;
    border-radius: 0 5px 5px 0;
    font-size: 24px;
    font-family: $kurale;
    color: $white;
    text-transform: uppercase;
    padding: 30px 20px;
    position: absolute;
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    height: 100%;
}
.events__contacts {
    font-size: 12px;
    line-height: 1;
    color: $white-opacity;
    text-align: center;
    a {
        color: $white-opacity;
    }
}