$kurale: 'Kurale', serif;
$os: 'Open Sans', sans-serif;
$white: #fff;
$color: #000;
$text: 18px;
$wrap: 1440px;
$container: 1230px;
$mc: 0 auto;
$yellow: #E8C300;
$white-opacity: rgba(255, 255, 255, .5);
$black-opacite: rgba(0, 0, 0, .5);
$gray: #e5e5e5;
$gray-opacity: rgba(51, 51, 51, .5);
$tabs-color: #333;
$tabs-color-opacity: rgba(51, 51, 51, .2);

@mixin flex($jc, $ai) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: $ai;
}
@mixin line {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background: $yellow;
    border-radius: 50px;
    margin: $mc;
    margin-top: 10px;
    margin-bottom: 35px;
}
@mixin img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 50px $black-opacite);
    border-radius: 5px;
}

body {
    background-color: $white;
    font-family: $os;
    color: $color;
    font-size: $text;
}
.wrapper {
    max-width: $wrap;
    margin: $mc;
}
.container {
    max-width: $container;
    margin: $mc;
    padding: 0 15px;
}
svg {
    width: 100%;
    height: 100%;
}
.circle {
    width: 250px;
    height: 250px;
    border: 20px solid $yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    filter: drop-shadow(0px 0px 100px $black-opacite);
}
section h2 {
    font-size: 42px;
    font-weight: 400;
    font-family: $kurale;
    text-transform: uppercase;
    &::after {
        @include line;
    }
}
section p {
    line-height: 1.75;
    margin-bottom: 25px;
}
.intro {
    font-weight: 700;
}