.menu {
    padding: 70px 0 75px;
    h2 {
        text-align: center;
    }
    &--intro {
        max-width: 565px;
        margin: $mc;
        text-align: center;
    }
}
.tabs__container {
    margin: 45px auto 55px;
    position: relative;
    height: 60px;
    max-width: $container;
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar{
        height: 8px;
        background: $tabs-color;
    }
    &::-webkit-scrollbar-thumb {
        background: $yellow;
    }
}
.tabs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include flex(center, center);
    flex-wrap: nowrap;
    &__items {
        min-width: 163px;
        cursor: pointer;
        padding: 0 10px;
        transform: .3s;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $tabs-color;
        height: 47px;
        @include flex(center, center);  
        border-right: 1px solid $tabs-color-opacity;
        &:hover,
        &.active {
            background: $yellow;
        }
        &:last-child {
            border: none;  
        }
    }
    &.overflow {
        left: 0;
        transform: none;
    }
}
.menu__sliders {
    position: relative;
    max-width: $container;
    margin: $mc;
    overflow: hidden;
    height: 500px;
}
.menu__slider {
    height: 100%;    
}
.menu__slider-block {
    width: 100%;
    height: 100%;   
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 1s;
    &.show {
        opacity: 1;
        z-index: 2;
    }
}
.menu__item {
    max-width: 510px;
    @include flex(space-between, center);
    &-img {
        width: 260px;
        height: 170px;
        object-fit: cover;
        border: 4px solid $yellow;
    }
    &-text {
        max-width: 220px;
        margin-left: 25px;
    }
}
.menu__title,
.menu__price {
    font-family: $kurale;
    font-size: 18px;
    color: $tabs-color;
    text-transform: uppercase;
    font-weight: 400;
}
.menu__title {
    display: inline-block;
    border-bottom: 1px solid $tabs-color;
}
.menu__desc {
    margin-top: 24px;
    font-size: 12px;
    line-height: 14px;
    color: $gray-opacity;
}
.menu__slider .swiper-slide {
    height: 175px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
}
.menu__pagination {
    @include flex(center, center);
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
    .swiper-pagination-bullet {
        background: $white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $gray-opacity;
        cursor: pointer;
        margin: 0 10px;
        transition: .3s;
        &:hover,
        &-active {
            background: $yellow;
        }
    }
}