.order {
    padding-top: 100px;
    padding-bottom: 45px;
}
.order__container {
    @include flex(space-between, center);
}
.order__text {
    width: 50%;
    max-width: 565px;
    text-align: center;
}
.order__form {
    @include flex(space-between, center);
    input {
        width: 49%;
        margin-bottom: 10px;
        border-radius: 5px;
        background: $gray;
        border: 1px solid transparent;
        outline: none;
        height: 60px;
        padding: 0 20px;
        font-size: 14px;
        &::placeholder {
            color: $gray-opacity;
        }
        &:focus {
            border: 1px solid $yellow;
        }
    }
    .order__select {
        width: 49%;
        margin-bottom: 10px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 10px;
            top: 34%;
            width: 20px;
            height: 20px;
            pointer-events: none;
            background: url('../img/select-arrow.svg') center no-repeat;
        }
        select {
            width: 100%;
            background: $gray;
            border: 1px solid transparent;
            height: 60px;
            padding: 0 20px;
            font-size: 14px;
            outline: none;
            border-radius: 5px;
            appearance: none;
            &:not(:valid) {
                color: $gray-opacity;
            }
        }
        option {
            color: $color;
        }
    }
    button {
        width: 100%;
        background: $yellow;
        border: none;
        cursor: pointer;
        height: 60px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: $white;
        transition: .3s;
        &:hover {
            background: darken($yellow, 10%);
        }
    }
}
.order__img {
    width: 50%;
    max-width: 500px;
    position: relative;
    .circle {
        right: 0;
        transform: translate(40%, -50%);
    }
    img {
        @include img;
    }
}
.order__contacts {
    font-size: 12px;
    line-height: 1;
    color: $gray-opacity;
    text-align: center;
    margin-top: 45px;
    a {
        color: $gray-opacity;
        font-weight: 700;
    }
}