.spec__container {
    position: relative;
    h6 {
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.5em;
        font-weight: 700;
        text-align: center;
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 45px;
    }
}
.spec__slider {
    position: relative;
    overflow: hidden;
}
.spec__slide {
    background: url('../img/bg-slide.jpg') center/cover no-repeat;
    padding-top: 105px;
    padding-bottom: 95px;
    width: 100%;
}
.spec__slide-container {
    @include flex(space-between, center);
}
.spec__text {
    color: $white;
    text-align: center;
    width: 50%;
    max-width: 600px;
    padding-left: 30px;
}
.spec__img {
    width: 50%;
    max-width: 500px;
    position: relative;
    text-align: right;
    .circle {
        left: 0;
        transform: translate(-40%, -50%);
    }
    img {
        @include img;
    }
}
.spec__pagination {
    @include flex(center, center);
    position: absolute;
    width: 100%;
    bottom: 45px;
    z-index: 3;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $white-opacity;   
        cursor: pointer;
        margin: 0 10px;    
        transition: .3s;  
        &:hover {
            background: $white;     
        }                
    }
    .swiper-pagination-bullet-active {
        background: $white;    
    }
}